# colcon
install/
log/

# catkin workspace  
devel/
logs/
build/
bin/
lib/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac OS
.DS_Store

# Generated Dependencies
deeprotor_ws/src/deeprotor_simulation_environment/rotors_simulator
deeprotor_ws/src/deeprotor_simulation_environment/rotors_hil.rosinstall
deeprotor_ws/src/deeprotor_simulation_environment/mavros
deeprotor_ws/src/deeprotor_simulation_environment/mavlink
deeprotor_ws/src/deeprotor_simulation_environment/mav_comm

# Colcon bundle for reference 
deeprotor-simapp
*.tar.gz
